<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
  <div class="row column">
    <br>
    <center><%= link_to root_path do %><%= image_tag 'logo.png', width: 125 %><% end %></center>
    <div class='sidebar'>
      <a href=""><span class="fi-video"></span> Movies</a>
    </div>
    <div class='sidebar'>
      <a href=""><span class="fi-monitor"></span> TV Shows</a>
    </div>
  </div>
</div>
